<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}", name: if @current_user, do: @current_user.email, else: "Eddy!" %></h2>
  <p class="lead">edu</p>

  <ul>
    <li>
      <%= link "Users", to: session_path(@conn, :index) %>
    </li>
    <li>
      <%= link "Videos", to: video_path(@conn, :index) %>
    </li>

    <li>
      <%= link "All Videos", to: video_path(@conn, :all_videos) %>
    </li>

  </ul>

</div>
